<!-- footer start -->
<div class="clear"></div>
<div class="templatemo_footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
					| <a href="/Contato"><i class="fa fa-envelope"></i> Contato</a>
					| <a href="/Privacidade">Privacidade</a>
					| <a href="/Termos">Termos de Uso</a>
			</div>
		</div>
	</div>
</div>
<!-- footer end --> 
