<div class="container header">
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<div class="templatemo_title"><a href="/">QUEM VENDE?</a></div>
			<div class="templatemo_subtitle">A vitrine de contato entre distribuidores e estabelecimentos</div>
		</div>
		<div class="col-md-6 col-sm-6">
			<div class="templatemo_search">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
						<input type="search" id="search-header" class="form-control" placeholder="{$randomProduct}" value="{if isset($q)}{$q}{/if}" aria-describedby="basic-addon1">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

