/* Platypus technology style */

input.error, textarea.error {
	border: 1px solid red;
}
label.error{
	font-size: 12px;
	font-weight: normal;
	color: #F44;
	margin-top: 0px!important;
	padding-top: 0;
}

.destaque {
	color: #FFCC00;
	font-weight: bold;
}

	.command-edit, .command-ok  {
		color: green;
	}
	.command-delete, .command-cancel {
		color: red;
	}

.destaque-row {
	background-color: #FFC;
	padding: 15px 0;
	margin: 10px;
}

.loginbox {
	padding: 20px;
	border: 1px solid #CCC;
}
	.loginbox h3 {
		text-transform: uppercase;
		width: 100%;
		border-bottom: 1px solid #FFCC00;
		font-size: 18px;
	}
	.loginbox input, .loginbox button {
		width: 100%;
		padding: 5px;
		margin-bottom: 10px;
		font-size: 12px;
	}

.distribuidora-form {	
	color: #000;
}
	.logo-area button {
		margin-top: 10px;
		float: right;
		margin-right: 30px;
	}
	#dist-logo {
		width: 100%;
		overflow: hidden;
	}
		#dist-logo img {
			width: 100%;
		}
	.dist-detail {
		padding-left: 30px;
	}
	.dist-detail span {
		margin-left: 20px;
	}
	#dropzone-produtos {
		min-height: 200px;
	}
	#add-logo {
		height: 200px;
		background-color: #EEE;
		position: relative;
	}
		#add-logo .create-dropzone-logo, #add-logo .dropzone-layer-logo, #dropzone-produtos .create-dropzone-file, #dropzone-produtos .dropzone-layer-file {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0; left: 0;
		}
		#add-logo .dropzone-layer-logo, #dropzone-produtos .dropzone-layer-file {
			text-align: center;
			font-size: 18px;
			padding: 30px 20px;
			color: #222;
			background-color: #CCC;
  		}
  		#add-logo .create-dropzone-logo, #dropzone-produtos .create-dropzone-file {
			text-align: center;
			padding: 20px;
			overflow: auto;
		}
  		#add-logo .dz-success-mark, #add-logo .dz-error-mark, #dropzone-produtos .dz-success-mark, #dropzone-produtos .dz-error-mark {
  			display: none;
  		}
	.distribuidora-form label {
		margin-bottom: 0;
		margin-top: 15px;
	}
	.distribuidora-form input {
		width: 95%;
	}
	.distribuidora-form button {
		margin-top: 15px;
	}
	.distribuidora-form textarea {
		width: 95%;
		height: 200px;
		padding: 5px;
		font-style: italic;
	}
	.distribuidora-form span.opt {
		font-style: italic;
		color: #999;
		size: 8px;
	}

.distribuidora-contato {
	border: 1px solid #AAA;
	padding: 20px;
}
.ct_login_loading, .ct_login_response {
	padding-left: 40px;
}

.distribuidora-produtos {
	margin-top: 30px;
}

.produtos-import input {
	width: 100%;
	border: 0;
	height: 40px;
	padding: 5px;
}
.produtos-import select {
	margin-top: 10px;
}
.produtos-import td {
	padding: 0 !important;
}

#newProdutoForm input, #newProdutoForm select {
	width: 100%;
	margin-bottom: 10px;
}

#list-produtos {
	margin-top: 30px;
}

.produtos-list {
}
	.produtos-list .th {
		font-weight: bold;
		font-size: 16px;
		border-bottom: 1px solid #888
	}
	.produtos-list .row-prod {
		height: 50px;
	}
		.produtos-list .row-prod div {
			padding-top: 10px;
		}
	.produtos-list .produtos-commands {
	}
		.produtos-list .produtos-commands a {
			cursor: pointer;
			color: #888;
			font-size: 12px; 
		}
		.produtos-list .produtos-commands i { 
			cursor: pointer; 
			font-size: 20px;
			margin-top: 2px;
		}
	.produtos-list .list-odd {
		background: #E5E5E5;
	}

	.prod-message {
		position: absolute;
		background-color: #FFCC00;
		width: 100%;
		margin-left: 20%;
		height: 50px;
	}
	.row-prod-edit input, .row-prod-edit select {
		width: 100%;
	}

.contatos-list > div {
	padding: 10px 0px 10px 30px;
}
.contatos-list .list-odd {
	background: #E5E5E5;
}

.response-box {
	padding: 5px 20px 20px 0px;
}

/** ======= BUSCA ======= **/
.busca h3 span {
	font-variant: small-caps;
	text-decoration: underline;
}

	.busca-cat {
		font-size: 12px;
		height: 100px;
		padding-top: 30px;
		border-left: 7px solid;
	}
		.busca-cat-1 { border-color: #FF9900; }
		.busca-cat-2 { border-color: #CCFFFF; }
		.busca-cat-3 { border-color: #990099; }
		.busca-cat-4 { border-color: #00CC00; }
		.busca-cat-5 { border-color: #3399FF; }
		.busca-cat-6 { border-color: #800000; }
		.busca-cat-7 { border-color: #FFFF00; }
		.busca-cat-8 { border-color: #FFFF99; }
		.busca-cat-9 { border-color: #222; }
	.busca-cat-dist { 
		font-size: 12px;
		height: 100px;
		border-left: 7px solid;
		border-color: #666; 
	}

	.busca-row {
		border-bottom: 1px solid #CCC;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.busca-row .distribuidora {
		padding-top: 10px;
	}
	.busca-row .distribuidora > .location {
		font-size: 12px;
		padding-top: 0;
	}

.pagination .find-results {
	padding-top: 5px;
}
.pagination .page {
	text-align: center;
	border: 1px solid #666;
	padding: 1px;
	width: 28px;
	height: 28px;
	display: inline-block;
	cursor: pointer;
	color: #333;
}
.pagination .page.active-page {
	border: 2px solid #FFCC00;
	font-weight: bold;
	height: 30px;
}

.destaqueProd > td {
	font-weight: bold;
	background-color: #FFCC00;
}

.watermark-message {
	font-size: 40px;
	color: #CCC;
	padding: 20px 60px;
	line-height: 60px;
}
.watermark-message i {
	font-size: 120px;
}

#buscas-results, #contatos-results {
	height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#buscas-results .row-prod, #contatos-results .row-prod {
	padding-left: 20px;
}



.contato-assunto > div > i {
	-webkit-transition:	-webkit-transform 0.5s ease-in-out;
	-moz-transition:	-moz-transform 0.5s ease-in-out;
	-o-transition:		-o-transform 0.5s ease-in-out;
	transition:			transform 0.5s ease-in-out;	
}
.contato-assunto > div > i.down {
	-webkit-transform: 	rotate(90deg);
	-moz-transform: 	rotate(90deg);
	-ms-transform: 		rotate(90deg);
	-o-transform: 		rotate(90deg);
	transform: 			rotate(90deg);
}
.mail-response textarea{
	width: 95%;
	height: 200px;
	padding: 5px;
	font-style: italic;	
}


.tdBtn i {
	margin-top: 13px;
	cursor: pointer;
}
#cboxClose {
	margin-right: 10px;
}

