/* 
Solidity Template 
http://www.templatemo.com/preview/templatemo_407_solidity 
*/

body {  font: 14px/1.85em 'Open Sans', Arial, Helvetice Neue, sans-serif; color: #888888; font-weight: 300; font-style: normal; -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */ -webkit-text-size-adjust: 100%; }

a, a:hover, a:focus { 
	text-decoration: none; 
	-webkit-transition: all 150ms ease-in; 
	-moz-transition: all 150ms ease-in; 
	-o-transition: all 150ms ease-in; 
	transition: all 150ms ease-in;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 { 
	font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif; 
}

h1 { 
	text-transform: uppercase; width: 100%; border-bottom: 1px solid #FFCC00; font-size: 24px; color: #333333; padding-bottom: 10px; font-weight: bold; 
}

#cboxOverlay {
	background: #AAA !important;
}
#cboxLoadedContent {
	padding: 20px;
}

.container {
	overflow: hidden;
}

.btn-quemvende {
	color: #039;
	background-color: #FFCC00;
	border-color: #FFDD44;
	padding: 10px;
}
.btn-quemvende:hover{
	border-color: #039;
}

.padding-0 {
	padding: 0;
	margin: 0;
}

.right-align {
	text-align: right;
}
.right { 
	float: right;
	text-align: right;
}
.left {
	float: left;
}
.center {
	text-align: center;
}

.half {
	float: left;
	width: 50%;
}
.full {
	width: 100%;
}
.full-row, .row-full {
	width: 100%;
	float: left;
	position: relative;
	min-height: 1px;
}

.pointer { cursor: pointer; }

.green { color: green; }
.red { color: red; }

.clear { 
	clear: both;
}

.header { 
 	margin-bottom: 50px;
}

.homepage { 
 	display: block;
}

.templatemo_title { 
	float: left; 
	width: 100%; 
	font-size: 46px; 
	color: #FFCC00;
	font-weight: 400; 
	margin-top: 60px;
}

.templatemo_title a { 
	color: #FFCC00; 
}

.templatemo_subtitle { 
	float: left; 
	margin-top: 5px; 
}

.templatemo_search { 
 	float: left; 
	width: 100%;
}
.templatemo_search input { 
 	border: 1px solid #cccccc; 
	padding: 7px; 
	width: 100%; 
	font-style: italic; 
	color: #999999;
}

::-webkit-input-placeholder { 
 /* WebKit browsers */
    color: #999999;
}
:-moz-placeholder { 
 /* Mozilla Firefox 4 to 18 */
    color: #999999;
}
::-moz-placeholder { 
 /* Mozilla Firefox 19+ */
    color: #999999;
}
:-ms-input-placeholder { 
 /* Internet Explorer 10+ */
    color: #999999;
}

.responsive-navigation { 
 	background: #FFCC00; 
	float: left; 
	padding: 10px 0px; 
	margin-bottom: 30px;
}
.menu-toggle-btn { 
	 margin-left: 20px;
}

a.menu-toggle-btn { 
	 color: #ffffff;
}

.templatemo_menu { 
 	text-align: center;
}

.responsive_menu ul { 
 	padding: 0; 
	margin: 0; 
	list-style: none;
}
.navigation {
	left: 50%;
	margin-left: -200px;
	margin-top: 100px;
}
.main_menu { 
 	text-align: center; 
	margin-top: 30px; 
	margin-bottom: 30px;
	width: 400px;
}
.main_menu div { 
 	margin-bottom: 1px; 
	font-size: 16px;
}
.main_menu div div.fa { 
	font-size: 50px;
}
.main_menu div a { 
 	color: white; 
	text-transform: uppercase; 
	display: block; 
	background-color: #FFCC00; 
	-webkit-transition: all 150ms ease-in; 
	-moz-transition: all 150ms ease-in; 
	-o-transition: all 150ms ease-in; 
	transition: all 150ms ease-in; 
}

.main_menu div a:hover { 
	background-color: #886600; 
}
.main_menu img {
	width: 100%;
	height: 100%;
}

a.menu_toggle-btn { 
	width: 100%; 
	height: 60px; 
	background-color: #FFCC00; 
	text-align: center; 
	line-height: 60px; 
	display: block; 
	color: white; 
	}
a.menu_toggle-btn i { 
	line-height: 60px; 
	}

.responsive-navigation { 
	position: relative; 
	width: 100%; 
	display: block; 
	z-index: 9999; 
}

.responsive_menu { 
	display: none; 
	background-color: #38a345; 
}
.responsive_menu ul li a { 
	color: white; 
	text-transform: uppercase; 
	display: block; 
	padding: 10px 20px; 
	border-bottom: 1px solid #9bd3a2; 
}

.main-slider { 
	width: 100%; 
	height: 570px;
	margin-top: 30px;
}

.flexslider .slides { 
	height: 570px;
}

.slider-caption { 
	position: absolute; 
	vertical-align: middle; 
	width: 100%; 
	text-align: center; 
	height: 100px; 
	z-index: 8; 
	color: white; 
	top: 200px; 
}

.slider-caption h2 { 
	font-size: 48px; 
	text-transform: uppercase; 
	font-weight: 800; 
	margin-bottom: 30px; 
}

.slider-caption p { 
	font-size: 16px; 
	text-transform: uppercase; 
	letter-spacing: 2px; 
	width: 50%; 
	margin: 0 auto 30px auto; 
	line-height: 1.8em; 
}

.flexslider { 
	background-color: black; 
	height: 570px; 
	overflow: hidden; 
	margin: 0;
}

.flexslider img { 
	position: relative; 
	opacity: 0.5; 
	width: 100%; 
	z-index: 7; 
}

.flex-control-nav { 
	bottom: 15px; 
	z-index: 9;
}

.flex-control-paging li a { 
	background-color: white; 
	border: 2px solid black; 
	opacity: 0.6;
}

.flex-control-paging li a:hover { 
	opacity: 1; 
	background: white; 
}

.flex-control-paging li a.flex-active { 
	opacity: 1; 
	background: white; 
}

.templatemo_icon { 
	float: left; 
	font-size: 40px; 
	color: #FFCC00; 
	text-align: center; 
	padding-bottom: 3px; 
}

.templatemo_greentitle { 
	float: left; 
	font-size: 20px; 
	color: #FFCC00; 
	font-weight: bold; 
	text-transform: uppercase; 
	margin-left: 10px; 
	margin-top: 5px;
	margin-bottom: 30px;
}
.templatemo_servicegap { 
	margin: 40px 0px 0px 0px;
}
.templatemo_servicegap img { 
	width: 100%;
}

.templatemo_email { 
	 width: 40px; 
	 height: 40px; 
	 border-radius: 20px; 
	 background: #FFCC00; 
	 text-align: center;  
	 left:50%;  
	 margin-left:-20px; 
	 margin-top: -20px; 
	 position: absolute;
	-webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow:hidden;
}

.templatemo_email div.fa { 
	font-size: 16px; 
	color: #ffffff; 
	line-height: 40px;
}

.templatemo_email:hover	{ 
	-webkit-transform: rotate(360deg);    
	-moz-transform: rotate(360deg);   
	 -o-transform: rotate(360deg);
}

.templatemo_teamtext { 
	 float: left;
	 width: 100%;
	 margin: 20px 0px;
}
.templatemo_teamname { 
	float: left;
	width: 50%;
}
.templatemo_teamtitle { 
	float: left; 
	font-size: 18px; 
	color: #FFCC00; 
	font-weight: bold; 
	text-transform: uppercase;
	width: 100%; 
}

.templatemo_teampost { 
	float: left; 
	text-transform: uppercase; 
	font-style: italic;
}

.templatemo_teamsocial { 
	float: right; 
	width: 50%; 
	text-align: right;
}
.templatemo_teamsocial .fa { 
	margin-left: 5px;
	color: #cccccc; 
	font-size: 16px;
}
.templatemo_teamsocial .fa:hover{ color: #FFCC00; }

.templatemo_portfolio img { 
	width: 100%; 
	margin-top: 30px;
}

.fadeInDown	{ 
}

/*------------------------------------------------------
	Gallery Styles 
--------------------------------------------------------*/
.gallery-item { 
	margin-bottom: 0px;
 	position: relative;
	overflow: hidden;
}
.gallery-item .content-gallery { 
	text-align: center;
}
.gallery-item .content-gallery h3 { 
	  color: #b10021;
	  font-size: 16px;
	  font-weight: 300;
	  margin-top: 5px;
	  padding-bottom: 5px;
	  display: inline-block;
}
.gallery-item img { 
 width: 100%;
}
.gallery-item .overlay { 
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  -webkit-transition: all 50ms ease-in-out;
  -moz-transition: all 50ms ease-in-out;
  -ms-transition: all 50ms ease-in-out;
  -o-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
}
.gallery-item .overlay a { 
  color: #ffffff;
  text-align: center;
  line-height: 32px;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  font-size: 24px;
}

#templatemo_map	{ 
    width: 100%;
	height: 300px;
	border: 1px solid #cccccc;
	margin: 40px 0px;
}
.templatemo_textbox	{ 
 	width: 50%; 
	float: left; 
	margin-top: 0px;
}
.templatemo_textbox	input { 
	width: 95%; 
	border-radius: 0px; 
	padding: 7px;
}
.templatemo_textareabox	{ 
	width: 100%; 
	float: left;
}
.templatemo_textareabox	textarea { 
	border-radius: 0px;
	padding: 7px; 
	height: 130px; 
	width: 97.5%; 
	margin-top: 20px;
}
.templatemo_textareabox button { 
	border-radius: 0px; 
	background: #3cb04b; 
	padding: 7px 15px; 
	text-transform: uppercase; 
	font-weight: 400; 
	font-size: 16px;
	margin-top: 20px;
}
.templatemo_address ul { 
	float: left; 
	margin: 0px; 
	padding: 0px; 
}
.templatemo_address	li { 
	padding: 0px 0px 10px 0px; 
	margin: 0px; 
	list-style: none; 
	float: left;
}
.templatemo_address	li.fa { 
	width: 10%; 
	color:#3cb04b; 
	font-size: 20px;
}
.templatemo_address	li.text { 
	width: 90%;
	font-size: 16px;
}

.templatemo_footer { 
	background: #FFCC00; 
	margin-top: 50px; 
	padding: 10px 0px; 
	text-align: center; 
	color:#039;
}
	.templatemo_footer a { 
		color: #039;
	}
	.templatemo_footer a:hover { 
		color: #000;
	}

@media (max-width: 767px) { 
	.slider-caption a, .slider-caption p { 
	display: none; 
	top: 50px !important; } 
	.templatemo_servicegap {
	float: left;
	width: 100%;
	}
	}
@media (max-width: 581px) { 
 .slider-caption { 
 display: none; } }
@media (max-width: 991px) { 
 .navigation	{ 
 display: none;}
	 #main-content { 
 width: 100%; }
 	.first-footer { 
 border-left: 0; }
	.flexslider .slides, .flexslider, .main-slider { 
 height: auto; }
	.service-item { 
 margin-bottom: 30px; }
	.progess-bars { 
 margin-top: 40px; }
 }

 @media (min-width: 332px)	{ 
 .templatemo_address	{ 
	margin-top: 30px; 
	}
	.templatemo_search	{ 
	margin: 20px 0px;
	}
 }
 @media (min-width: 768px) {
 	.templatemo_search	{ 
	margin-top: 60px;}
 }
 @media (min-width: 768px) and (max-width: 991px) {
 	.main-navigation { margin-top: 20px;}
 }
 @media (min-width: 992px) { 
	.main_menu div.col-md-2 div.fa	{ line-height: 128px;}
	.main_menu div.col-md-2 a{ 
 	height: 128px; 
	line-height: 128px;
	}
	.main_menu div.col-md-2 a#prev	{ 
	margin-top: 22%;
	}
	.main_menu div.col-md-2 a#next	{ 
	margin-top: 22%;
	}
	.templatemo_imagecontrol { 
	height: 118px; 
	overflow: hidden;
	}
	.templatemo_imagecontrol .gallery-item .overlay a{ 
 top: 20%;}
	.templatemo_address	{ 
 margin-top: 0px;}

 }
 
@media (min-width: 1200px) { 
	.main_menu div div.fa	{ 
	line-height: 160px;
	}
	.main_menu div a{ 
	 height: 160px; 
	 line-height: 160px;
	 }
	.templatemo_imagecontrol { 
	height: 140px; 
	overflow: hidden;
	}
	.templatemo_imagecontrol .gallery-item .overlay a { 
	top: 22%;
	}
 }