{include file="quemvende/inc/meta.html"}
<body>
	{include file="quemvende/inc/header.html"}

<div class="container busca">
	<div class="row">
		<div class="col-md-12">
			<h3>Busca: <span>{$q}</span></h3>
		</div>
	</div>

	{if isset($distribuidoras)}
	<div class="full-row">
		Disrtribuidoras:
	</div>
		{foreach from=$distribuidoras key=i item=d}
		<div class="row busca-row">
			<div class="col-md-3 busca-cat-dist">
				{if $d->logo_id > 0}
					<a href="/Distribuidora/{$d->slug}">
					{magratheaimage_code title=$d->nome id=$d->logo_id width=300 style="height: 100%"}
					</a>
				{/if}
			</div>
			<div class="col-md-9">
				Distribuidora: <a href="/Distribuidora/{$d->slug}">{$d->nome}</a><br/>
				<span class="location">({$d->cidade} - {$estados[$d->estado_id]})</span><br/>
				{if $d->website}
					<a href="{$d->website}">{$d->website}</a><br/>
				{/if}
			</div>
		</div>
		{/foreach}
	<hr/>
	{/if}

	{include file="quemvende/section/pagination.html" total=$total page=$page totalPages=$totalPages}

	{foreach from=$busca key=i item=b}
	<div class="row busca-row">
		<div class="col-md-1 busca-cat busca-cat-{$b->Categoria->id}">
			{$b->Categoria->nome}
		</div>
		<div class="col-md-8">
			<a href="/Distribuidora/{$b->Distribuidora->slug}?p={$b->id}"><h3>{$b->nome}</h3></a>
			<h5>{$b->estilo}</h5>
		</div>
		<div class="col-md-3 distribuidora">
			Distribuidora: <a href="/Distribuidora/{$b->Distribuidora->slug}">{$b->Distribuidora->nome}</a><br/>
			<span class="location">({$b->Distribuidora->cidade} - {$estados[$b->Distribuidora->estado_id]})</span><br/>
		</div>
	</div>
	{/foreach}

	{include file="quemvende/section/pagination.html" total=$total page=$page totalPages=$totalPages}

</div>
{include file="quemvende/inc/footer.html"}
</body>
{$View->JavaScripts()}
</html>

