<div class="response-box">
	<button class="btn btn-quemvende btn-reponder" onClick="showResponder(this);">
		<i class="fa fa-mail-reply"></i> Responder
	</button>
	<div class="row mail-response" style="display: none;">
		<form id="form-response-{$resp->id}">
		<input type="hidden" id="destino-{$resp->id}" value="{$destino}" />
		<input type="hidden" value="Re: {$resp->assunto}" id="assunto-{$resp->id}" />
		<div class="col-md-9">
			<br/>
			<textarea id="response-to-{$resp->id}"></textarea>
		</div>
		<div class="col-md-3">
			<br/><br/><br/>
			<button type="button" class="btn btn-quemvende full" onclick="cancelResponse(this);">
				<i class="fa fa-times"></i> Cancelar
			</button>
			<br/><br/>
			<button type="button" class="btn btn-quemvende full" onClick="sendResponse({$resp->id});">
				<i class="fa fa-mail-reply"></i> Enviar
			</button>
		</div>
		</form>
	</div>
	<div class="full-row" id="message-response-{$c->id}"></div>
</div>