{include file="quemvende/inc/meta.html"}
<body>
	{include file="quemvende/inc/header.html"}

<div class="container">
	<div class="row-full">
		<h1>Contato</h1>
	</div>
	<div class="row">
		<form id="contato-form" method="post" action="/Contato/Send">
		<div class="col-md-6 distribuidora-form">
			<div class="full-row">
				<label for="nome">Nome:</label><br/>
				<input type="text" name="nome" id="nome" placeholder="Nome" required /><br/>
			</div>
			<div class="full-row">
				<label for="email">E-mail de contato:</label><br/>
				<input type="text" name="email" id="email" placeholder="e-mail@..." required /><br/>
			</div>
			<div class="full-row">
				<label for="assunto">Assunto:</label><br/>
				<input type="text" name="assunto" id="assunto" placeholder="Sugestão..." required /><br/>
			</div>
			<div class="full-row">
				<label for="mensagem">Mensagem:</label><br/>
				<textarea name="mensagem" id="mensagem" required></textarea>
			</div>
			<div class="full-row right">
				<button class="btn btn-quemvende" type="submit">
					<i class="fa fa-envelope"></i>&nbsp;
					<i class="fa fa-forward"></i>&nbsp;
					Enviar
				</button><br/><br/>
			</div>
		</div>
		<div class="col-md-6">
			<p>
				O <span class="destaque">Quemvende?</span> é uma iniciativa para aproximar distribuidoras alimentícias e estabelecimentos comerciais.<br/>
				A participação, tanto de um quanto de outro é completamente gratuita.<br/><br/>
				O site não se responsabiliza pelo conteúdo gerado.<br/><br/>
				<a href="/Termos"><i class="fa fa-legal"></i> Termos de Uso</a><br/>
				<a href="/Privacidade"><i class="fa fa-eye"></i> Política de Privacidade</a><br/>
			</p>
		</div>
		</form>
	</div>
	<hr/>
</div>
{include file="quemvende/inc/footer.html"}
</body>


{$View->JavaScripts()}
<script type="text/javascript">
	$("#contato-form").validate({
		rules: {
			email: {
				email: true
			}
		}
	});
</script>

</html>