<div class="full-row">
	<div class="full-row" id="ct_login_loading" style="display: none;">
		<i class="fa fa-circle-o-notch fa-spin"></i> Carregando
	</div>
	<div class="full-row" id="ct_login_response"></div>
</div>

<div class="full-row distribuidora-form distribuidora-contato">
	<div class="row">

		<form id="ct_firststep" novalidate>
		<div class="col-md-4" id="ct_estabelecimento" {if isset($est)}style="display: none;"{/if}>
			<div class="full-row center">
				<button type="button" class="btn btn-quemvende" onClick="CTShowLogin()">
					<i class="fa fa-sign-in"></i> Fazer login
				</button>
			</div>
			<div class="full-row">
				<h3>Cadastro rápido</h3>
			</div>
			<div class="full-row">
				Nome:<br/>
				<input type="text" name="ct_nome" id="ct_nome" value="" required />
			</div>
			<div class="full-row">
				E-mail<br/>
				<input type="text" name="ct_email" id="ct_email" value="" required />
			</div>
			<div class="full-row right">
				<button type="button" class="btn btn-quemvende" onClick="CTNextStep()">
					<i class="fa fa-chevron-right"></i> Continuar
				</button>
			</div>
		</div>
		</form>

		<form id="ct_cadastrorapido" novalidate>
		<div class="col-md-4" id="ct_estabelecimento_cadastro" style="display: none;">
			<div class="full-row">
				&nbsp;&nbsp;<a onClick="CTVoltar()"><i class="fa fa-chevron-left"></i> voltar</a>
			</div>
			<div class="full-row">
				<h3>Cadastro rápido</h3>
			</div>
			<div class="full-row">
				Estabelecimento:<br/>
				<input type="text" name="ct_estab" id="ct_estab" value="" required />
			</div>
			<div class="full-row">
				Estado:<br/>
				<select name="ct_estado" id="ct_estado">
					{foreach from=$estados item=e}
						<option value="{$e->id}">{$e->nome}</option>
					{/foreach}
				</select>
			</div>
			<div class="row">
				<div class="col-md-6">
					Senha:
					<input type="password" name="ct_password1" id="ct_password1" value="" required />
				</div>
				<div class="col-md-6">
					Repita a senha:
					<input type="password" name="ct_password2" id="ct_password2" value="" required />
				</div>
			</div>
			<div class="full-row right">
				<button type="button" class="btn btn-quemvende" onClick="CadastroRapido()">
					<i class="fa fa-chevron-right"></i> Cadastrar
				</button>
			</div>
		</div>
		</form>

		<div class="col-md-4" id="ct_estabelecimento_login" style="display: none;">
			<div class="full-row">
				&nbsp;&nbsp;<a onClick="CTVoltar()"><i class="fa fa-chevron-left"></i> voltar</a>
			</div>
			<div class="full-row loginbox">
				<div class="full-row">
					<h3>Login</h3>
				</div>
				<div class="full-row">
					<input type="email" placeholder="e-mail" name="email" id="email" class="input large" />
				</div>
				<div class="full-row">
					<input type="password" placeholder="password" name="password" id="password" />
				</div>
				<div class="full-row">
					<button class="btn btn-quemvende" onClick="CTLogin();">
						<i class="fa fa-sign-in"></i> Entrar
					</button>
				</div>
				<div class="full-row">
					<a href="/EsqueciASenha">Esqueci minha senha</a><br/>
				</div>
			</div>
		</div>

		<form id="ct_mailform">
		<div class="col-md-4" id="ct_estabelecimento_data" {if !isset($est)}style="display: none;"{/if}>
			<div class="full-row">
				<h3>Contato</h3>
			</div>
			<div class="full-row">
				Estabelecimento:<br/>
				<input type="text" name="send_estab" id="send_estab" value="{if isset($est)}{$est->nome}{/if}" required />
			</div>
			<div class="full-row">
				Responsável:<br/>
				<input type="text" name="send_nome" id="send_nome" value="{if isset($est)}{$est->contato}{/if}" required />
			</div>
			<div class="full-row">
				E-mail de contato:<br/>
				<input type="text" name="send_email" id="send_email" value="{if isset($est)}{$est->email}{/if}" required />
			</div>
		</div>

		<div class="col-md-8">
			<div class="full-row">
				Assunto:<br/>
				<input type="text" name="assunto" id="assunto" value="" required />
			</div>
			<div class="full-row">
				Mensagem:<br/>
				<textarea name="mensagem" id="mensagem" required></textarea>
			</div>
		</div>
		</form>
	</div>
	<div class="full-row center" {if !isset($est)}style="display: none;"{/if} id="send-row">
		<button class="btn btn-quemvende" onClick="CTSend()">
			<i class="fa fa-check"></i> Enviar
		</button>
	</div>
</div>