{include file="quemvende/inc/meta.html"}
<body>
	{include file="quemvende/inc/header.html"}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>{$dist->nome}</h1>
			<input type="hidden" id="dist-id" value="{$dist->id}" /><br/>
		</div>
	</div>

	{if isset($edit)}
	<div class="full-row right">
		<button class="btn btn-quemvende" onClick="window.location.href='/Distribuidora/Editar'">
			<i class="fa fa-pencil"></i> Editar
		</button>
	</div>
	<hr/>
	{/if}

	<div class="row" id="distribuidora-data">
		<div class="col-md-3 logo-area">
			<div id="dist-logo">
			{if $dist->logo_id > 0}
				{magratheaimage_code title=$dist->nome id=$dist->logo_id width=300 style="padding-top: 10px"}
			{/if}
			</div>
		</div>
		<div class="col-md-6">
			{if $dist->website}
			<div class="full-row">
				Website:
				<a href="http://{$dist->website}" about="_blank">{$dist->website}</a>
			</div>
			{/if}
			<div class="full-row">
				Localização: {if $dist->cidade} {$dist->cidade} - {/if} {$dist->Estado->nome}
			</div>
			{if $dist->areas}
			<div class="full-row dist-detail">
				<b>Áreas atendidas:</b><br/>
				<span>{$dist->areas}</span>
			</div>
			{/if}
			{if $dist->condicoes}
			<div class="full-row dist-detail">
				<b>Condições:</b><br/>
				<span>{$dist->condicoes}</span>
			</div>
			{/if}
		</div>
	</div>

	<br/>
	<div class="full-row center destaque-row" id="contato-btn">
		<button class="btn btn-quemvende" onClick="showContato();">
			<i class="fa fa-chevron-right"></i> <i class="fa fa-envelope"></i> Entrar em contato <i class="fa fa-chevron-right"></i>
		</button>
	</div>
	<div class="full-row" id="contato" style="display: none;">
	</div>

	<div class="full-row distribuidora-produtos">
		<h2>Produtos</h2>
<table class="table table-striped">
<thead>
	<th>Categoria</th>
	<th>Nome</th>
	<th>Estilo</th>
	<th>Envase</th>
</thead>
<tbody>
	{foreach from=$produtos key=i item=p}
		<tr class="importProduct {if $p->id == $prod}destaqueProd{/if}">
			<td>{$p->Categoria->nome}</td>
			<td>{$p->nome}</td>
			<td>{$p->estilo}</td>
			<td>{$p->envase}</td>
		</tr>
	{/foreach}
</tbody>
</table>
	</div>
</div>
{include file="quemvende/inc/footer.html"}
</body>
{$View->JavaScripts()}
</html>