{include file="quemvende/inc/meta.html"}
<body>
	{include file="quemvende/inc/header.html"}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>{$dist->nome}</h1>
			<input type="hidden" id="dist-id" value="{$dist->id}" /><br/>
		</div>
		<div class="col-md-6 center">&nbsp;</div>
		<div class="col-md-6 right">
			<button class="btn btn-quemvende" onClick="window.location.href='/Distribuidora/Editar'">
				<i class="fa fa-edit"></i> Editar Perfil
			</button>&nbsp;
			<button class="btn btn-quemvende" onClick="window.location.href='/Home/Logout'">
				<i class="fa fa-sign-out"></i> Sair
			</button>
		</div>
	</div>

	<div class="full-row"><br/></div>

	<div class="full-row contatos-list" id="contatos-list"></div>

</div>
{include file="quemvende/inc/footer.html"}
</body>
{$View->JavaScripts()}
<script type="text/javascript">
	$(document).ready(function(){
		$.ajax("/Distribuidora/Listcontatos").success(function(data){
			$("#contatos-list").html(data);
		});
	});
</script>
</html>