{include file="quemvende/inc/meta.html"}
<body>
	{include file="quemvende/inc/header.html"}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>{$dist->nome}</h1>
			<input type="hidden" id="dist-id" value="{$dist->id}" />
			<input type="hidden" id="hash" value="{$hash}" />
			<br/>
		</div>
	</div>
	<div class="row" id="distribuidora-data">
		<div class="col-md-3 logo-area">
			<div id="dist-logo">
			{if $dist->logo_id > 0}
				{magratheaimage_code title=$dist->nome id=$dist->logo_id width=300 style="padding-top: 10px"}
			{/if}
			</div>
		</div>
		<div class="col-md-6 distribuidora-form">
			<div class="full-row">
				Nome:<br/>
				<input type="text" name="nome" id="nome" value="{$dist->nome}" /><br/>
			</div>
			<div class="full-row">
				E-mail de contato:<br/>
				<input type="email" name="email" id="email" value="{$dist->email}" /><br/>
			</div>
			<div class="row" id="password-change">
				<div class="col-md-3">
					<br/>
					<i class="fa fa-lock"></i> Definir senha:
				</div>
				<div class="col-md-4">
					Nova senha:<br/>
					<input type="password" id="new_password1" /><br/>
				</div>
				<div class="col-md-4">
					Confirmar nova senha:<br/>
					<input type="password" id="new_password2" />
				</div>
				<div class="col-md-1">&nbsp;</div>
			</div>
		</div>
		<div class="col-md-3">
			<br/><br/>
			<span id="message-response"></span>
			<br/><br/>
			<button class="btn btn-quemvende full" onClick="ConcluirCadastro();">
				<i class="fa fa-check"></i> Concluir Cadastro <i class="fa fa-spinner fa-spin loading" style="display: none;"></i>
			</button>
		</div>
	<hr/>
	</div>
</div>
{include file="quemvende/inc/footer.html"}
</body>
{$View->JavaScripts()}
</html>