{include file="quemvende/inc/meta.html"}
<body>
	{include file="quemvende/inc/header.html"}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Cadastro de Distribuidoras</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5 templatemo_servicegap">
			<p>
				Para cadastrar sua distribuidora e disponibilizar gratuitamente acesso à sua lista de produtos, basta preencher o formulário ao lado.<br/><br/>
				Após uma simples e breve validação dos seus dados, você receberá um link para terminar o seu cadastro e adicionar seus produtos.<br/><br/>
				Essa validação é necessária para garantir um mínimo de veracidade dos dados e das empresas participantes do projeto, garantindo aos estabelecimentos visitantes uma experiência em um ambiente mais limpo e com dados mais fidedígnos.<br/><br/>
				Qualquer dúvida no funcionamento ou no processo de validação de sua empresa, não hesite em <a href="/Contato">entrar em contato <i class="fa fa-envelope"></i></a> conosco. Nosso time estará à sua disposição!
            </p>
		</div>
		<div class="col-md-7 templatemo_servicegap distribuidora-form">
			<form id="cadastrar-distribuidora" method="post" action="/Distribuidora/Cadastrar">
			<div class="full-row">
				<label for="nome">Nome:</label><br/>
				<input type="text" name="nome" id="nome" placeholder="Nome da Distribuidora" required /><br/>
			</div>
			<div class="full-row">
				<label for="email">E-mail de contato:</label><br/>
				<input type="text" name="email" id="email" placeholder="email@distribuidora.com.br" required /><br/>
			</div>
			<div class="full-row">
				<label for="website">Website:</label><br/>
				<input type="text" name="website" id="website" required />
			</div>
			<div class="full-row">
				<label for="endereco">Endereço:</label> <span class="opt">(opcional)</span><br/>
				<input type="text" name="endereco" id="endereco" />
			</div>
			<div class="row">
				<div class="col-md-6">
					<label for="cidade">Cidade:</label><br/>
					<input type="text" name="cidade" id="cidade" value="" required /><br/>
				</div>
				<div class="col-md-6">
					<label for="estado">Estado:</label><br/>
					<select name="estado" id="estado">
						{foreach from=$estados item=e}
							<option value="{$e->id}">{$e->nome}</option>
						{/foreach}
					</select>
				</div>
			</div>
			<div class="full-row center">
				<button class="btn btn-quemvende" type="submit">
					<i class="fa fa-check"></i>
					Cadastrar
				</button><br/><br/>
			</div>
			</form>
		</div>
	</div>
</div>
{include file="quemvende/inc/footer.html"}
</body>
{$View->JavaScripts()}
<script type="text/javascript">
	$("#cadastrar-distribuidora").validate({
		rules: {
			email: {
				email: true
			}
		}
	});
</script>
</html>