{include file="quemvende/inc/meta.html"}
<body>
	{include file="quemvende/inc/header.html"}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Distribuidoras</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 templatemo_servicegap">
			<div class="templatemo_greentitle">Nosso Objetivo</div>
			<div class="clear"></div>
			<p>
                O "<span class="destaque">QuemVende?</span>" nasceu com o objetivo de ajudar as distribuidoras a divulgar os seus produtos e ajudar estabelecimentos como bares, empórios e restaurantes a encontrar o melhor provedor para suas mercadorias.<br/>
                Com foco inicial na distribuição de bebidas como cervejas especiais, cachaças artesanais e demais produtos de nicho, a nossa intenção é servir também de vitrine a distribuidores de qualquer tamanho a exporem seus produtos.<br/>
                Também é a oportunidade de distribuidoras divulgarem lançamentos e fazerem promoções específicas, atingindo diretamente o público alvo pretendido!
            </p>
		</div>
		<div class="col-md-4 templatemo_servicegap">
			<div class="templatemo_greentitle">Quero participar!</div>
			<div class="clear"></div>
			<p>
                Se você possui uma distribuidora, não importa o tamanho, e deseja disponibilizar sua cartela de produtos publicamente, basta entrar em contato através <a href="/Distribuidora/Cadastro">desta página</a> e, em até cinco dias úteis, retornaremos a você com um link de cadastro.<br/>
                O controle dos produtos expostos ficará por conta das distribuidoras.<br/>
                O "<span class="destaque">QuemVende?</span>" é totalmente gratuito, como não podia deixar de ser, já que o nosso objetivo é simplesmente ajudar distribuidoras a encontrarem seus compradores.
            </p>
		</div>
		<div class="col-md-4 templatemo_servicegap">
            {include file="quemvende/section/login_distribuidoras.html"}
		</div>
	</div>
</div>
    {include file="quemvende/inc/footer.html"}
</body>
{$View->JavaScripts()}
</html>