{include file="quemvende/inc/meta.html"}
<body>
	{include file="quemvende/inc/header.html"}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>{$dist->nome}</h1>
			<input type="hidden" id="dist-id" value="{$dist->id}" /><br/>
		</div>
		<div class="col-md-6 center">
		visualizações de perfil: {$dist->views}
		</div>
		<div class="col-md-6 right">
			<button class="btn btn-quemvende" onClick="window.location.href='/Distribuidora/Contatos'">
				<i class="fa fa-envelope"></i> Contatos
			</button>&nbsp;
			<button class="btn btn-quemvende" onClick="window.location.href='/Home/Logout'">
				<i class="fa fa-sign-out"></i> Sair
			</button>
		</div>
	</div>
	<div class="row" id="distribuidora-data">
		<div class="col-md-3 logo-area">
			<div id="dist-logo">
			{if $dist->logo_id > 0}
				{magratheaimage_code title=$dist->nome id=$dist->logo_id width=300 style="padding-top: 10px"}
			{/if}
			</div>
			<div id="add-logo" style="display: none;">
				<div class="dropzone-layer-logo">
					<h4>Arraste a imagem para upload</h4>
					<span class="dropzone-icons">
					<i class="fa fa-plus-circle"></i>
					<i class="fa fa-photo"></i>
					<i class="fa fa-upload"></i>
					</span>
					<h6>(ou clique para enviar)</h6>
				</div>
				<div class="create-dropzone-logo"></div>
			</div>
			<button class="btn btn-quemvende btn-change-logo" onClick="loadDropLogo()">
				<i class="fa fa-photo"></i>
				<i class="fa fa-exchange"></i>
				Alterar Logo
			</button>
			<button class="btn btn-quemvende btn-cancel-logo" onClick="cancelDropLogo()" style="display: none;">
				<i class="fa fa-times"></i>
				Cancelar
			</button>
		</div>
		<div class="col-md-6 distribuidora-form">
			<form id="dist-edit-basic">
			<div class="full-row">
				Nome:<br/>
				<input type="text" name="nome" id="nome" value="{$dist->nome}" required /><br/>
			</div>
			<div class="full-row">
				E-mail de contato:<br/>
				<input type="email" name="email" id="email" value="{$dist->email}" /><br/>
			</div>
			<div class="full-row">
				Website:<br/>
				<input type="text" name="wesbite" id="website" value="{$dist->website}"  /><br/>
			</div>
			<div class="full-row">
				Endereço:<br/>
				<input type="text" name="endereco" id="endereco" value="{$dist->endereco}" /><br/>
			</div>
			<div class="row">
				<div class="col-md-6">
					Cidade:<br/>
					<input type="text" name="cidade" id="cidade" value="{$dist->cidade}" required /><br/>
				</div>
				<div class="col-md-6">
					Estado:<br/>
					<select name="estado" id="estado">
						{foreach from=$estados item=e}
							<option value="{$e->id}" {if $e->id == $dist->estado_id}selected{/if}>{$e->nome}</option>
						{/foreach}
					</select>
				</div>
			</div>
			</form>
			<div class="full-row" id="password-change-edit">
				<button class="btn btn-quemvende" onClick="togglePasswordChange()">
					<i class="fa fa-lock"></i> Alterar senha
				</button>
			</div>
			<div class="row" id="password-change" style="display: none;">
				<div class="col-md-4">
					Senha atual:<br/>
					<input type="password" id="actual_password" />
				</div>
				<div class="col-md-4">
					Nova senha:<br/>
					<input type="password" id="new_password1" /><br/>
					Confirmar nova senha:<br/>
					<input type="password" id="new_password2" />
				</div>
				<div class="col-md-4">
					<br/><br/>
					<button class="btn btn-quemvende" onClick="changePassword();">
						<i class="fa fa-save"></i>&nbsp;
						<i class="fa fa-lock"></i>&nbsp;
						Salvar nova senha
					</button>
				</div>
				<div class="col-md-12" id="password-response"></div>
			</div>
		</div>
		<div class="col-md-3">
			<br/><br/>
			<br/><br/>
			<button class="btn btn-quemvende full" onClick="saveInfoBasic(this);">
				<i class="fa fa-save"></i> Salvar Alterações <i class="fa fa-spinner fa-spin loading" style="display: none;"></i>
			</button>
			<br/><br/>
			<button class="btn btn-quemvende full" id="basic-next" onClick="toggleDistribuidoraEdit(); toggleDistribuidoraAdvancedEdit(true);">
				<i class="fa fa-forward"></i> Próximo passo
			</button>
		</div>
	</div>
	<div class="row center destaque-row" id="distribuidora-data-edit" style="display: none;">
		<div class="col-md-12">
			<button class="btn btn-quemvende" onClick="toggleDistribuidoraEdit();">
				<i class="fa fa-pencil"></i> Editar informações básicas
			</button>
		</div>
	</div>
	<hr/>
	<div class="row" id="distribuidora-data-adv" style="display: none;">
		<div class="col-md-9 distribuidora-form">
			<div class="row">
				<div class="col-md-2">Url personalizada:</div>
				<div class="col-md-4 right-align padding-0">{#siteDomain#}Distribuidora/&nbsp;</div>
				<div class="col-md-2 padding-0"><input type="text" name="slug" id="slug" value="{$dist->slug}" onKeyUp="checkSlug();" /></div>
				<div class="col-md-4"><span class="valid-info" id="valid-slug"></span></div>
			</div>
			<div class="full-row">
				Áreas de atuação:<br/>
				<textarea name="areas" id="areas">{$dist->areas}</textarea>
			</div>
			<div class="full-row">
				Condições de compra e pedidos:<br/>
				<textarea name="condicoes" id="condicoes">{$dist->condicoes}</textarea>
			</div>
		</div>
		<div class="col-md-3">
			<br/><br/>
			<br/><br/>
			<button class="btn btn-quemvende full" onClick="saveInfoAdvanced(this);">
				<i class="fa fa-save"></i> Salvar Alterações <i class="fa fa-spinner fa-spin loading" style="display: none;"></i>
			</button>
			<br/><br/>
			<button class="btn btn-quemvende full" id="advanced-next" onClick="toggleDistribuidoraAdvancedEdit(); toggleDistribuidoraProdutosEdit(true);">
				<i class="fa fa-forward"></i> Próximo passo
			</button>
		</div>
	</div>
	<div class="row center destaque-row" id="distribuidora-data-adv-edit">
		<div class="col-md-12">
			<button class="btn btn-quemvende" onClick="toggleDistribuidoraAdvancedEdit();">
				<i class="fa fa-plus-circle"></i> <i class="fa fa-pencil"></i> Editar informações avançadas
			</button>
		</div>
	</div>
	<hr/>
	<div class="full-row" id="distribuidora-produtos" style="display: none;">
		<div class="full-row">
			<div class="full-row"><h3>Produtos</h3></div>
			<div class="full-row center">
				<button class="btn btn-quemvende" onClick="addProdutos();">
					<i class="fa fa-plus-circle"></i> <i class="fa fa-shopping-cart"></i> Adicionar Produtos
				</button>
			</div>
		</div>
		<div class="full-row" id="list-produtos"></div>
	</div>
	<div class="row center destaque-row" id="distribuidora-produtos-edit">
		<div class="col-md-12">
			<button class="btn btn-quemvende" onClick="toggleDistribuidoraProdutosEdit(true);">
				<i class="fa fa-shopping-cart"></i> <i class="fa fa-pencil"></i> Editar produtos
			</button>
		</div>
	</div>
	<hr/>
</div>
{include file="quemvende/inc/footer.html"}
</body>
{$View->JavaScripts()}
</html>