{include file="quemvende/inc/meta.html"}
<body>
	{include file="quemvende/inc/header.html"}

<div class="container">
	<div class="full-row">
		<h1>Esqueci minha senha</h1>
	</div>
	{if $message}
	<div class="full-row">
		{if $message == "success"}
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Enviado!</strong><br/>
				Restauração de senha para {$email}:<br/>
				Dentro de alguns minutos você deverá receber um e-mail com instruções de como proceder na restauração de senha.<br/>
				Caso não o receba, verifique sua caixa de SPAM ou <a href="/Contato">entre em contato</a> conosco.<br/>
			</div>
		{elseif $message == "error"}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Erro!</strong><br/>
				Erro ao enviar e-mail para {$email}:<br/>
				Se o problema persistir, <a href="/Contato">entre em contato</a> conosco.<br/>
			</div>
		{elseif $message == "notfound"}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Não encontrado!</strong><br/>
				E-mail {$email} não encontrado em nossa base de dados.<br/>
				<a href="/Contato">Entre em contato</a> conosco para maiores informações.<br/>
			</div>
		{/if}
	</div>
	{/if}
	<div class="full-row">
		<div class="col-md-3">&nbsp;</div>
		<div class="col-md-6 distribuidora-form">

			<div class="full-row">
				<p>
					Preencha seu e-mail de cadastro e o <span class="destaque">Quemvende?</span> lhe enviará o link para restauração de sua senha.<br/>
				</p>
			</div>
			<form id="contato-form" method="post" action="/EsqueciASenha/Send">
			<div class="full-row">
				<label for="email">E-mail de cadastro:</label><br/>
				<input type="text" name="email" id="email" placeholder="e-mail@..." value="{$email}" required /><br/>
			</div>
			<div class="full-row right">
				<button class="btn btn-quemvende" type="submit">
					<i class="fa fa-envelope"></i>&nbsp;
					<i class="fa fa-forward"></i>&nbsp;
					Enviar
				</button><br/><br/>
			</div>
			</form>
		</div>
		<div class="col-md-3">&nbsp;</div>
	</div>
	<hr/>
</div>
{include file="quemvende/inc/footer.html"}
</body>


{$View->JavaScripts()}
<script type="text/javascript">
	$("#contato-form").validate({
		rules: {
			email: {
				email: true
			}
		}
	});
</script>

</html>