{if $page == 0}
<div class="templatemo_greentitle"><i class="fa fa-search"></i> Buscas</div>
<div class="clear"></div>
{/if}
<div id="buscas-results" class="produtos-list">
	{foreach from=$buscas item=b}
		{cycle values="odd,even" assign=paridade}
		<div class="row row-prod list-{$paridade}" >
			<div class="col-md-8">
				<a href="/Produtos/Buscar/{$b->busca}">{$b->busca}</a>
			</div>
			<div class="col-md-4">
				{$b->created_at|date_format:"%d/%m/%Y"}
			</div>
		</div>
	{/foreach}
	{if $qtd == 10}
	<div class="full-row center" id="load-more-bt">
	<button class="btn btn-quemvende" onClick="loadBuscasPage({($page+1)});">
		<i class="fa fa-plus-square-o"></i>&nbsp;<i class="fa fa-search"></i> Carregar mais
	</button>
	</div>
	{/if}
</div>