{include file="quemvende/inc/meta.html"}
<body>
	{include file="quemvende/inc/header.html"}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>{$estabelecimento->nome}</h1>
		</div>
	</div>
	<div class="full-row right">
		<button class="btn btn-quemvende" onClick="window.location.href='/Home/Logout'">
			<i class="fa fa-sign-out"></i> Sair
		</button>
	</div>
	{if $message}
		{include file="quemvende/section/alert.html" message=$message style=$alertStyle}
	{/if}
	<div class="full-row center destaque-row" id="estabelecimento_edit">
		<button class="btn btn-quemvende" onClick="estabelecimentoEdit();">
			<i class="fa fa-pencil"></i> Editar Informações
		</button>
	</div>
	<div class="full-row" style="display: none;" id="estabelecimento_info">
		{include file="quemvende/estabelecimento_form.html"}
	</div>
	<div class="full-row"><br/></div>
	<div class="row">
		<div class="col-md-5" id="est_buscas"></div>
		<div class="col-md-1"></div>
		<div class="col-md-6" id="est_contatos"></div>
	</div>

</div>

    {include file="quemvende/inc/footer.html"}
</body>
{$View->JavaScripts()}
<script type="text/javascript">
	$(document).ready(function(){
		$.ajax("Estabelecimento/Buscas").success(function(data){
			$("#est_buscas").html(data);
		});
		$.ajax("Estabelecimento/Contatos").success(function(data){
			$("#est_contatos").html(data);
		});
	});
</script>
</html>