{if $page == 0}
<div class="templatemo_greentitle">Contatos <i class="fa fa-envelope"></i></div>
<div class="clear"></div>
{/if}
<input type="hidden" id="origem" value="estabelecimento" />
<div id="contatos-results" class="contatos-list">
	{foreach from=$contatos item=c}
		{cycle values="odd,even" assign=paridade}
		<div class="row list-{$paridade}" >
			{if $c->answer_to}
				<div class="col-md-1 center"><i class="fa fa-level-down" title="Respondido"></i></div>
				<div class="col-md-11">
			{else}
				<div class="col-md-12">
			{/if}
				<div class="row">
					<div class="col-md-12">
						<a href="/Distribuidora/{$c->Distribuidora->slug}">
							<b>
								{if $c->answer_to}
									<i class="fa fa-mail-reply"></i> Resposta
									{if $c->origem == "distribuidora"} de {else} à {/if}
								{/if}
								Distribuidora:
							</b>
							{$c->Distribuidora->nome}
						</a>
					</div>
				</div>
				<div class="row pointer contato-assunto" onClick="openMessage({$c->id});">
					<div class="col-md-8">
						<i class="fa fa-caret-right" id="caret-{$c->id}"></i>
						&nbsp;{$c->assunto}
					</div>
					<div class="col-md-4">({$c->created_at|date_format:"%d/%m/%Y %k:%M"})</div>
				</div>
				<div class="full-row message-{$c->id}" style="display: none;">{$c->mensagem}</div>
				<div class="full-row message-{$c->id} center" style="display: none;">
					{include file="quemvende/contato_responder.html" resp=$c destino=$c->Distribuidora->id}
				</div>
			</div>
		</div>
	{/foreach}
	{if ($qtd == 0 && $page ==0)}
	<div class="full-row center watermark-message">
		<i class="fa fa-ban"></i><br/>
		Nenhum contato feito até o momento...
	</div>
	{/if}
	{if $qtd == 10}
	<div class="full-row center" id="load-more-bt">
	<button class="btn btn-quemvende" onClick="loadContatosPage({($page+1)});">
		<i class="fa fa-plus-square-o"></i>&nbsp;<i class="fa fa-search"></i> Carregar mais
	</button>
	</div>
	{/if}
</div>