{include file="quemvende/inc/meta.html"}
<body>
	{include file="quemvende/inc/header.html"}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Cadastro de estabelecimento</h1>
		</div>
	</div>
	{include file="quemvende/estabelecimento_form.html"}
</div>

    {include file="quemvende/inc/footer.html"}
</body>
{$View->JavaScripts()}
</html>