	<form id="cadastrar-estabelecimento" method="post" action="/Estabelecimento/Salvar">
	<div class="row">
		<input type="hidden" name="id" id="id" value="{$estabelecimento->id}" />
		<div class="col-md-6 templatemo_servicegap distribuidora-form">
			<div class="templatemo_greentitle">Seus dados</div>
			<div class="full-row">
				<label for="email">Nome:</label><br/>
				<input type="text" name="nome" id="nome" placeholder="Nome do responsável" value="{$estabelecimento->contato}" required /><br/>
			</div>
			<div class="full-row">
				<label for="email">E-mail de contato:</label><br/>
				<input type="text" name="email" id="email" placeholder="email@..." value="{$estabelecimento->email}" required /><br/>
			</div>
			<div class="full-row">
				{if $estabelecimento}
				<div class="full-row center" id="btn_changeSenha" style="padding-top: 15px;">
					<button class="btn btn-quemvende" onClick="estabelecimentoPassword(); return false;">
						<i class="fa fa-lock"></i> Alterar senha
					</button>
				</div>
				<div class="full-row" id="input_changeSenha" style="display: none;">
					<div class="col-md-4">
						<label for="cidade">Senha Atual:</label><br/>
						<input type="password" name="password" id="password" value="" /><br/>
					</div>
					<div class="col-md-4">
						<label for="cidade">Nova senha:</label><br/>
						<input type="password" name="password1" id="password1" value="" /><br/>
					</div>
					<div class="col-md-4">
						<label for="estado">Repita a nova senha:</label><br/>
						<input type="password" name="password2" id="password2" value="" /><br/>
					</div>
				</div>
				{else}
				<div class="full-row">
					<div class="col-md-6">
						<label for="cidade">Senha:</label><br/>
						<input type="password" name="password1" id="password1" value="" required /><br/>
					</div>
					<div class="col-md-6">
						<label for="estado">Repita a senha:</label><br/>
						<input type="password" name="password2" id="password2" value="" required /><br/>
					</div>
				</div>
				{/if}
			</div>
		</div>
		<div class="col-md-6 templatemo_servicegap distribuidora-form">
			<div class="templatemo_greentitle">Dados de seu estabelecimento</div>
			<div class="full-row">
				<label for="estabelecimento">Estabelecimento:</label><br/>
				<input type="text" name="estabelecimento" id="estabelecimento" placeholder="Nome do Estabelecimento" value="{$estabelecimento->nome}" required /><br/>
			</div>
			<div class="full-row">
				<label for="endereco">Endereço:</label> <span class="opt">(opcional)</span><br/>
				<input type="text" name="endereco" id="endereco" value="{$estabelecimento->endereco}" />
			</div>
			<div class="row">
				<div class="col-md-6">
					<label for="cidade">Cidade:</label><br/>
					<input type="text" name="cidade" id="cidade" value="{$estabelecimento->cidade}" required /><br/>
				</div>
				<div class="col-md-6">
					<label for="estado">Estado:</label><br/>
					<select name="estado" id="estado">
						{foreach from=$estados item=e}
							<option value="{$e->id}" {if $e->id == $estabelecimento->estado_id}selected{/if}>{$e->nome}</option>
						{/foreach}
					</select>
				</div>
			</div>
		</div>
		<div class="full-row center">
			<br/>
			<button class="btn btn-quemvende" type="button" onClick="estabelecimentoCloseEdit();">
				<i class="fa fa-times"></i>
				Cancelar
			</button>&nbsp;&nbsp;
			<button class="btn btn-quemvende" type="submit">
				<i class="fa fa-check"></i>
				{if $estabelecimento}Salvar{else}Cadastrar{/if}
			</button><br/><br/>
		</div>
	</div>
	</form>
