{include file="quemvende/inc/meta.html"}
<body>
	{include file="quemvende/inc/header.html"}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Estabelecimentos</h1>
		</div>
	</div>
	<div class="row">
        <div class="col-md-4 templatemo_servicegap">
            {include file="quemvende/section/login_estabelecimentos.html"}
        </div>
		<div class="col-md-8 templatemo_servicegap">
			<div class="templatemo_greentitle">Encontre seu produto! <i class="fa fa-beer"></i></div>
			<div class="clear"></div>
			<p>
                O "<span class="destaque">QuemVende?</span>" é uma vitrine para ajudar estabelecimentos a encontrar os melhores distribuidores e também distribuidores a divulgar melhor sua cartela de produtos.<br/>
                Focado principalmente no mercado de bebidas, é aqui que você vai encontrar quem é o distribuidor daquela cerveja especial que seus clientes tanto pedem ou daquela cachaça caseira, difícil de encontrar nos mercados.<br/>
                Promoções e lançamentos exclusivos também são disponibilizados aos estabelecimentos cadastrados, tudo de forma também a ajudarmos a alavancar o seu negócio!<br/>
                <a href="/Estabelecimento/Cadastro">Cadastre-se</a> já! É grátis!<br/>
            </p>
		</div>
	</div>
</div>

    {include file="quemvende/inc/footer.html"}
</body>
{$View->JavaScripts()}
</html>