{include file="quemvende/inc/meta.html"}
<body>
	{include file="quemvende/inc/header.html"}

	<!-- title end -->
	<div class="content homepage" id="menu-1">
	<div class="container">
		<div class="main-navigation">
			<div class="container">
				<div class="row">
					<div class="col-md-12 navigation">
						<div class="row main_menu">
							<div class="col-md-6">
								<a class="show-2 templatemo_page2" href="/Distribuidora">
									<img src="/images/dist.png" alt="Distribuidora" title="Distribuidora" />
								</a></div>
							<div class="col-md-6">
								<a class="show-3 templatemo_page3" href="/Estabelecimento">
									<img src="/images/est.png" alt="Estabelecimento" title="Estabelecimento" />
								</a>
							</div>
						</div> 
					</div>
				</div> 
			</div> 
		</div> 
	</div>
	</div>

    {include file="quemvende/inc/footer.html"}
</body>
{$View->JavaScripts()}
</html>