{include file="quemvende/inc/meta.html"}
<body>
	{include file="quemvende/inc/header.html"}

<div class="container">
	<div class="row-full">
		<h1>{$title}</h1>
	</div>
	<div class="row-full"></div>
	<div class="row">
		<div class="col-md-1">&nbsp;</div>
		<div class="col-md-10">
			<br/><br/>
			<p>{$message}</p>
		</div>
		<div class="col-md-1">&nbsp;</div>
	</div>
	<hr/>
</div>
{include file="quemvende/inc/footer.html"}
</body>


{$View->JavaScripts()}

</html>