{include file="quemvende/inc/meta.html"}
<body>
	{include file="quemvende/inc/header.html"}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Política de Privacidade</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 templatemo_servicegap">
<p>
	O objetivo do <span class="destaque">QuemVende?</span> é auxiliar o distribuidor e o comprador, criando um elo entre eles e disponibilizando uma plataforma aonde possam se encontrar. Tentamos então providenciar para que haja transparência em qualquer ação tomada dentro de nosso sistema. Asseguramos que buscamos medidas sérias a respeito da privacidade de nossos usuários e parceiros, em acordo com a legislação brasileira.
	<br/><br/>
	<b>Distribuidoras:</b> o cadastro funciona principalmente como uma forma de contatos entre potenciais clientes e a distribuidora. O cadastro no site funciona mediante uma simples aprovação prévia, que serve como certificação de que a empresa vai de acordo com o intuito proposto pelo <span class="destaque">QuemVende?</span> e que as informações a serem providenciadas pela distribuidora vão ser úteis para os clientes e visitantes do site.
	<br/>
	Os dados requeridos de uma distribuidora são: nome, endereço, cidade, estado, website, e-mail de contato e foto. Além disso, é possível providenciar outras informações relevantes, como áreas de atuação e condições de compra. A empresa poderá disponibilizar publicamente seus produtos fornecidos, bem como descritivo, tipo e preço deles. O sistema pode automaticamente recolher informações de acesso como data de acesso e IP de acesso, que devem ser usados como uma garantia extra de segurança e podem fornecer detalhes de localização para uso em eventos ou promoções.
	Entre os dados fornecidos, <b>o e-mail e o endereço não são exibidos aos estabelecimentos e visitantes e servem somente para contato a partir do <span class="destaque">QuemVende?</span></b>.
	<br/><br/>
	<b>Estabelecimentos e visitantes:</b> Qualquer visitante do site pode efetuar o cadastro. O cadastro de um visitante nos ajuda a estabelecer um perfil de acesso ao site, além de proporcionar ao estabelecimento uma série de informações que podem ser úteis, como lançamentos, destaques da região presente e promoções especiais.
	<br/>
	Dos dados solicitados a um visitante estão: nome, email, senha, endereço, cidade e estado. Outros dados que podem ser recolhidos são o horário da visita e o IP de acesso. <b>O e-mail não é normalmente repassado às distribuidoras</b>, a não ser que haja um contato iniciado pelo próprio <span class="destaque">QuemVende?</span>.
	<br/><br/>
	<b>Cookies:</b> Durante o acesso ao site, poderemos incluir cookies de navegação para facilitar e agilizar sua visita. ookies são arquivos de texto que ficam armazenados em seu computador. A maioria dos Cookies utilizados em nosso site serão apagados do seu computador automaticamente ao encerrar a sessão do navegador; outros podem permanecer no seu computador e agilizar sua identificação na próxima visita à página.
	<br/><br/>
	<b>Dados de consulta:</b> Os dados de busca de cervejas e origens geográficas das buscas podem ser disponibilizados de acordo com o interesse de distribuidoras. Mesmo que esses dados sejam usados em estatísticas e estudos, a origem dos termos de busca dos visitantes não é possível de ser identificada - é impossível por nossa parte ligar um termo de busca a um visitante específico.
	<br/><br/><br/>
	Reservamos o direito de modificar esta política de privacidade a qualquer momento, mas os usuários terão sempre acesso a ela sempre que desejarem.
	<br/>
	Se for necessário por ordem judicial, podemos precisar fornecer seus dados a quem o Poder Público determinar - não conseguimos imaginar qualquer motivo para isso, porém.
	<br/>
	Qualquer pessoa ou empresa tem direito a verificar a informação que armazenamos sobre ela e, caso deseja, alterar ou eliminar completamente os dados de nossos arquivos.
	<br/><br/>
	A idéia é fornecermos uma plataforma de confiança entre nós, do <span class="destaque">QuemVende?</span> e os visitantes e fornecedores que fazem uso de nosso sistema.
</p>

		</div>
	</div>
</div>
    {include file="quemvende/inc/footer.html"}
</body>
{$View->JavaScripts()}
</html>