<form name="importProducts" id="importProducts">
<input type="hidden" name="fileid" id="fileid" value="{$file}" />
<table class="table table-bordered produtos-import">
<thead>
	<th>Categoria</th>
	<th>Nome</th>
	<th>Estilo</th>
	<th>Envase</th>
	<th>&nbsp;</th>
</thead>
<tbody>
	{foreach from=$produtos key=i item=p}
		<tr class="importProduct">
			<td>
				<select name="importCategoria">
					{foreach from=$categorias item=c}
						<option value="{$c->id}" {if $c->id == $p->categoria_id}selected{/if}>{$c->nome}</option>
					{/foreach}
				</select>
			</td>
			<td><input type="text" name="importNome" value="{$p->nome}"/></td>
			<td><input type="text" name="importEstilo" value="{$p->estilo}"/></td>
			<td><input type="text" name="importEnvase" value="{$p->envase}"/></td>
			<td class="tdBtn" onClick="removeImportProduct(this);">
				<i class="fa fa-minus-circle command-delete" alt="Remover" title="Remover"></i>
			</td>
		</tr>
	{/foreach}
</tbody>
</table>
</form>

<br/>
<button class="btn btn-quemvende" onClick="importProdutos();">
	<i class="fa fa-check"></i> Adicionar Produtos
</button>