<div class="container colorboxContainer">

	<div class="row add-produtos">
		<div class="col-md-3">
			<div id="dropzone-produtos">
				<div class="dropzone-layer-file">
					<h4>Arraste seu arquivo para upload</h4>
					<span class="dropzone-icons">
					<i class="fa fa-plus-circle"></i>
					<i class="fa fa-file"></i>
					<i class="fa fa-upload"></i>
					</span>
					<h6>(ou clique para enviar)</h6>
				</div>
				<div class="create-dropzone-file"></div>
			</div>
			<div id="newProdutoForm" style="display: none;">
				<div class="full-row">
					Nome:<br/>
					<input type="text" name="newprod-nome" id="newprod-nome" value="" /><br/>
				</div>
				<div class="full-row">
					Categoria:<br/>
					<select id="newprod-categoria">
						{foreach from=$categorias item=c}
							<option value="{$c->id}">{$c->nome}</option>
						{/foreach}
					</select>
				</div>
				<div class="full-row">
					Estilo:<br/>
					<input type="text" name="newprod-estilo" id="newprod-estilo" value="" /><br/>
				</div>
				<div class="full-row">
					Envase:<br/>
					<input type="text" name="newprod-envase" id="newprod-envase" value="" /><br/>
				</div>
				<div class="full-row center">
					<button class="btn btn-quemvende" onclick="addNewProduto();">
						<i class="fa fa-plus-circle"></i> Adicionar
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div id="format-sample">
				<h4>Importação automática de produtos</h4>
				Envie um arquivo de texto contendo os dados dos seus produtos, um por linha.<br/><br/>
				Para facilitar o importador, você pode configurar o seu arquivo da seguinte maneira:<br/>
<pre>
categoria; nome; estilo; envase
cerveja; Guinness; Stout; Lata 500ml
destilado; Tequila Don Julio; Ouro; Garrafa 750ml
</pre>
				<br/>

			</div>

			<div class="full-row center" id="new-produto">
				<br/><br/>
				<button class="btn btn-quemvende" onclick="adicionarProdutosManualmente();">
					<i class="fa fa-plus-circle"></i> Adicionar Produto Manualmente
				</button>
				<br/>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		startProdutosDropzone();
	});
</script>
