<div class="full-row produtos-list">
<div class="row th">
	<div class="col-md-5">Nome</div>
	<div class="col-md-2">Categoria</div>
	<div class="col-md-2">Estilo</div>
	<div class="col-md-2">Envase</div>
	<div class="col-md-1">&nbsp;</div>
</div>

{foreach from=$produtos key=i item=p}
{cycle values="odd,even" assign=paridade}
<div class="row row-prod list-{$paridade}" id="row-prod-{$p->id}">
	<div class="col-md-5 val-prod-nome">{$p->nome}</div>
	<div class="col-md-2 prod-detail val-prod-categoria">{$p->Categoria->nome}</div>
	<div class="col-md-2 prod-detail val-prod-estilo">{$p->estilo}</div>
	<div class="col-md-2 prod-detail val-prod-envase">{$p->envase}</div>
	<div class="col-md-1 prod-detail produtos-commands">
		<i class="fa fa-pencil command-edit" title="Editar" onClick="editarProdutoShow({$p->id});"></i>&nbsp;
		<i class="fa fa-trash-o command-delete" title="Excluir" onClick="excluirProdutoShow(this)"></i>
	</div>

	<div class="col-md-4 prod-delete" style="display: none;">
		Tem certeza que deseja excluir este produto?
	</div>
	<div class="col-md-3 prod-delete produtos-commands" style="display: none;">
		<a onClick="removeProduct({$p->id});">
		<i class="fa fa-check-circle command-ok"></i> Excluir
		</a>
		&nbsp;&nbsp;&nbsp;
		<a onClick="cancelExcluirProduto(this);">
		<i class="fa fa-times-circle command-cancel"></i> Cancelar
		</a>
	</div>

	<div class="col-md-12 prod-message" style="display: none;" id="prod-message-{$p->id}">Message to display</div>
</div>
<div class="row row-prod list-{$paridade} row-prod-edit" id="row-prod-edit-{$p->id}" style="display: none;">
	<div class="col-md-5">
		<input type="text" name="nome-{$p->id}" id="prod-nome-{$p->id}" value="{$p->nome}" />
	</div>
	<div class="col-md-2">
		<select id="prod-categoria-{$p->id}">
			{foreach from=$categorias item=c}
				<option value="{$c->id}" {if $c->id == $p->categoria_id}selected{/if}>{$c->nome}</option>
			{/foreach}
		</select>
	</div>
	<div class="col-md-2">
		<input type="text" name="estilo-{$p->id}" id="prod-estilo-{$p->id}" value="{$p->estilo}" />
	</div>
	<div class="col-md-2">
		<input type="text" name="envase-{$p->id}" id="prod-envase-{$p->id}" value="{$p->envase}" />
	</div>
	<div class="col-md-1 produtos-commands">
		<i class="fa fa-check-circle command-ok" title="Salvar" onClick="editProduto({$p->id});"></i>&nbsp;
		<i class="fa fa-times-circle command-cancel" onClick="cancelEditarProduto({$p->id});" title="Cancelar"></i>
	</div>
</div>
{/foreach}

</div>

<script type="text/javascript">
function excluirProdutoShow(element){
	var parent = $(element).parent().parent();
	parent.find(".prod-detail").slideUp("slow");
	parent.find(".prod-delete").slideDown("slow");
}
function cancelExcluirProduto(element){
	var parent = $(element).parent().parent();
	parent.find(".prod-detail").slideDown("slow");
	parent.find(".prod-delete").slideUp("slow");
}
function editarProdutoShow(prod_id){
	$("#row-prod-"+prod_id).slideUp("slow");
	$("#row-prod-edit-"+prod_id).slideDown("slow");
}
function cancelEditarProduto(prod_id){
	$("#row-prod-"+prod_id).slideDown("slow");
	$("#row-prod-edit-"+prod_id).slideUp("slow");
}
</script>