{include file="quemvende/inc/meta.html"}
<body>
	{include file="quemvende/inc/header.html"}

<div class="container">
	<div class="full-row">
		<h1>Redefinir senha</h1>
	</div>
	<div class="full-row">
		<div class="col-md-3">&nbsp;</div>
		<div class="col-md-6">
			<div class="full-row">
				<br/>
				<p id="main-message">{$message}</p>
				{if $showForm}
				<div class="loginbox" style="float: left;">
					<input type="hidden" id="id" value="{$id}" />
					<input type="hidden" id="key" value="{$key}" />
					<input type="hidden" id="type" value="{$type}" />
					<div class="full-row">Nova senha:</div>
					<div class="full-row"><input type="password" id="pass1" /></div>
					<div class="full-row">Repita a senha:</div>
					<div class="full-row"><input type="password" id="pass2" /></div>
					<div class="full-row">
						<button class="btn btn-quemvende" onClick="ChangePasswordGeral();">
							<i class="fa fa-lock"></i> Alterar senha
						</button>
					</div>
					<div class="full-row" id="login_response"></div>
				</div>
				{/if}
			</div>
		</div>
		<div class="col-md-3">&nbsp;</div>
	</div>
	<hr/>
</div>
{include file="quemvende/inc/footer.html"}
</body>


{$View->JavaScripts()}
<script type="text/javascript">
	$("#contato-form").validate({
		rules: {
			email: {
				email: true
			}
		}
	});
</script>

</html>