{include file="quemvende/inc/meta.html"}
<body>
	{include file="quemvende/inc/header.html"}

<style>
	OL { counter-reset: item; }
	LI { display: block }
	LI:before { 
		content: counters(item, ".") ". "; 
		counter-increment: item; 
		font-weight: bold;
	}
</style>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Termos de Uso</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 templatemo_servicegap">
<p>
<ol>
	<li><b>Cláusula Primeira – Denominações</b><br/>
	<ol>
		<li>O <span class="destaque">QuemVende?</span>, sistema acessado através da URL quemven.de é um produto controlado pela <em><a href="http://www.platypusweb.com.br">Platypus Technology</a></em>, empresa independente de tecnologia, regida sob o CNPJ 17.831.839/0001-74, sediada em São Paulo - SP (Brasil);</li>
		<li><b>DISTRIBUIDORA</b> - fornecedor, cadastrado mediante prévia verificação, que pode usar o sistema como uma plataforma de seus produtos e uma vitrine para ser encontradao por usuários e <b>ESTABELECIMENTO</b>s;</li>
		<li><b>VISITANTE</b> – qualquer pessoa física ou jurídica, não cadastrada no portal, que acesse o site;</li>
		<li><b>ESTABELECIMENTO</b> – pessoa física ou jurídica que utilize o site para buscas, mediante cadastro;</li>
		<li><b>LOGIN</b> – Cadastro composto por nome do usuário, endereço de e-mail e senha. Com o <b>LOGIN</b>, <b>DISTRIBUIDORA</b>s podem ter acesso à suas informações, bem como a editá-las e <b>ESTABELECIMENTO</b>s podem contactar <b>DISTRIBUIDORA</b>s através de mensagens enviadas pelo sistema;</li>
		<li><b>EMPRESA PARCEIRA</b> – qualquer pessoa jurídica cadastrada no portal, em especial, <b>DISTRIBUIDORA</b>s;</li>
		<li><b>AFILIADO</b> – empresa terceira com a qual o <span class="destaque">QuemVende?</span> realiza parceria;</li>
		<li><b>SERVIÇOS PRÓPRIOS</b> – serviços prestados pelo <span class="destaque">QuemVende?</span> às <b>DISTRIBUIDORA</b>s, <b>ESTABELECIMENTO</b>s ou <b>VISITANTE</b>s;
		<li><b>SERVIÇOS DE TERCEIROS</b> – qualquer serviço fornecido pelas <b>EMPRESAS PARCEIRAS</b> ou <b>AFILIADO</b>s que possa trazer benefícios ao uso normal do <span class="destaque">QuemVende?</span>;</li>
	</ol></li><br/>
	<li><b>Cláusula Segunda –  Aceite</b><br/>
	<ol>
		<li>Os Serviços oferecidos pelo <span class="destaque">QuemVende?</span> são regidos por estes Termos de Uso, bem como pela legislação específica aplicável;</li>
		<li>A utilização dos serviços implica na mais alta compreensão, aceitação e vinculação automática do <b>VISITANTE</b> / <b>DISTRIBUIDORA</b> / <b>ESTABELECIMENTO</b>. Ao fazer uso dos serviços oferecidos, <b>VISITANTE</b> / <b>DISTRIBUIDORA</b> / <b>ESTABELECIMENTO</b> concorda em respeitar e seguir todas e quaisquer diretrizes dispostas neste termo;</li>
		<li>Este Termo poderá sofrer alterações periódicas, seja por questões legais ou estratégicas do <span class="destaque">QuemVende?</span>. O <b>VISITANTE</b> / <b>DISTRIBUIDORA</b> / <b>ESTABELECIMENTO</b>, desde já concorda e reconhece que é de sua única e inteira responsabilidade a verificação periódica deste Termo.</li>
	</ol></li><br/>
	<li><b>Cláusula Terceira – Política de Uso e limitação de responsabilidades</b><br/>
	<ol>
		<li>O <b>VISITANTE</b> / <b>DISTRIBUIDORA</b> / <b>ESTABELECIMENTO</b> está ciente e desde já concorda, que quaisquer <b>SERVIÇOS DE TERCEIROS</b> adquiridos através da busca no site, é de inteira responsabilidade das empresas contratadas;</li>
		<li>O <span class="destaque">QuemVende?</span> é responsável apenas pela divulgação das <b>DISTRIBUIDORA</b>s, não tendo qualquer responsabilidade sobre os dados apresentados, tais como produtos, marcas e logotipos e dados preenchidos pelas próprias <b>DISTRIBUIDORA</b>s;</li>
		<li>Ao utilizar qualquer um dos SERVICOS PRÓPRIOS de nosso site para uma posterior contratação de produtos e/ou serviços de uma de nossas <b>EMPRESAS PARCEIRAS</b> e/ou <b>AFILIADO</b>s, o <b>VISITANTE</b> / <b>DISTRIBUIDORA</b> / <b>ESTABELECIMENTO</b> declara conhecer e concordar com as condições de uso deste;</li>
		<li>O site, assim como o conteúdo nele disponível, poderá conter links para outros websites sem qualquer relação ou ligação com o <span class="destaque">QuemVende?</span>, apenas para fins publicitários. O acesso de eventuais links através do site é realizado por livre e inteira opção do <b>VISITANTE</b> / <b>DISTRIBUIDORA</b> / <b>ESTABELECIMENTO</b> e sob sua exclusiva responsabilidade;</li>
		<li>O <span class="destaque">QuemVende?</span> envidará seus melhores esforços para manter o sigilo e segurança das informações armazenadas dos <b>VISITANTE</b> / <b>DISTRIBUIDORA</b> / <b>ESTABELECIMENTO</b>. Porém, caso se dê por intervenção de terceiros alheios ao seu controle (como determinação judicial), não se responsabilizará pelos eventuais danos causados (ver mais em nossa <a href="/Privacidade">Política de Privacidade</a>);</li>
		<li>O <span class="destaque">QuemVende?</span> não se responsabiliza por quaisquer obrigações trabalhistas e/ou tributárias eventualmente incidentes sobre as atividades dos <b>VISITANTE</b> / <b>DISTRIBUIDORA</b> / <b>ESTABELECIMENTO</b> / <b>EMPRESAS PARCEIRAS</b> / <b>AFILIADO</b>s, por não ter qualquer vínculo societário com as empresas anunciantes, tampouco responsabilidades com suas atividades;</li>
		<li>O <span class="destaque">QuemVende?</span> não responde pela exatidão, qualidade, quantidade ou forma de prestação de serviços ou qualquer tipo de negociação de produtos expostos, sendo o nosso objetivo apenas filtrar e aproximar cliente dos fornecedores. O <span class="destaque">QuemVende?</span> não avalia, tampouco certifica os produtos e/ou serviços obtidos nas buscas inteligentes realizadas por meio do nosso sistema;</li>
	</ol></li><br/>
	<li><b>Cláusula Quarta – Penalidades e cancelamento de cadastro</b><br/>
	<ol>
		<li>Qualquer <b>VISITANTE</b> / <b>DISTRIBUIDORA</b> / <b>ESTABELECIMENTO</b> / <b>EMPRESAS PARCEIRAS</b> / <b>AFILIADO</b>s que desrespeitar a legislação aplicável e/ou os compromissos por aqui assumidos, estará sujeito às sanções previstas neste Termo, sem prejuízo de responder civil e criminalmente pelas consequências de seus atos e/ou omissões. Também poderá o <span class="destaque">QuemVende?</span> lançar mão de pleito judicial requerendo perdas, danos e eventuais lucros cessantes, em razão de ilícitos cometidos em seu desfavor;</li>
		<li>Sem prejuízo das demais sanções legais e daquelas aqui previstas, o <span class="destaque">QuemVende?</span> poderá, a seu critério, notificar, suspender e/ou cancelar o cadastro da <b>DISTRIBUIDORA</b> / <b>ESTABELECIMENTO</b> a qualquer tempo, definitiva ou temporariamente, nos seguintes casos:
		<ol>
			<li>Descumprimento quaisquer disposições deste Termo;</li>
			<li>Não cumprimento de quaisquer de suas obrigações;</li>
			<li>Verificação de cadastro duplicado, inadequado ou com informações falsas;</li>
			<li>Verificação de novo cadastro realizado por Usuário que teve seu cadastro cancelado e/ou suspenso;</li>
			<li>For constatada fraude ou tentativa de fraude;</li>
			<li>Fornecimento de informações solicitadas incorretas e/ou inverídicas ou ainda se negar a prestar eventuais informações adicionais solicitadas pelo <span class="destaque">QuemVende?</span>;</li>
			<li>Falta ou estorno de um pagamento devido referente a um contrato firmado entre o <span class="destaque">QuemVende?</span> e a empresa;</li>
			<li>Publicação de informações extremistas, secretas e/ou de segurança nacional, ilegais, religiosas, de cunho político, ou pornográficas através dos espaços colocados à disposição do <b>VISITANTE</b> / <b>DISTRIBUIDORA</b> / <b>ESTABELECIMENTO</b>;</li>
		</ol></li>
	</ol></li><br/>
	<li><b>Cláusula Quinta – Propriedade Intelectual</b><br/>
	<ol>
		<li>Os elementos e/ou ferramentas encontrados no Site ou fora dele são de titularidade ou licenciados pelo <span class="destaque">QuemVende?</span>, sujeitos à proteção dos direitos intelectuais de acordo com as leis brasileiras e tratados e convenções internacionais dos quais o Brasil seja signatário. Apenas a título exemplificativo, entendem-se como tais: textos, scripts, imagens, fotos, sons, músicas, vídeos, recursos interativos e similares, marcas, marcas de serviços, logotipos, “trade dress” e “look and feel”;</li>
		<li>É de inteira responsabilidade da <b>EMPRESA PARCEIRA</b> garantir que o seu material promocional não infrinja qualquer norma do Direito de Propriedade.  O <span class="destaque">QuemVende?</span> não possui meios de averiguar se todos os arquivos inseridos nas páginas individuais das empresas (logomarcas, fotos, ilustrações, catálogos,  arquivos de som e imagem em geral), bem como as mídias externas (YouTube), acessadas a partir de links publicados pelas <b>EMPRESAS PARCEIRAS</b> dentro do <span class="destaque">QuemVende?</span>, cumprem todas as exigências de direitos de imagem e som;</li>
		</li>O <span class="destaque">QuemVende?</span> não se responsabiliza pelo conteúdo das páginas de <b>AFILIADO</b>s, <b>EMPRESAS PARCEIRAS</b> ou <b>DISTRIBUIDORA</b>s. É de inteira responsabilidade destes, garantir que o seu material promocional não infrinja qualquer norma do Direito de Propriedade.  O <span class="destaque">QuemVende?</span> não possui meios de averiguar se todos os arquivos inseridos em seus respectivos websites (logomarcas, fotos, ilustrações, catálogos, arquivos de som e imagem em geral, conteúdo acadêmico e/ou intelectual), bem como as mídias externas, como por exemplo o “YouTube” e outras plataformas de conteúdo), acessadas a partir de links publicados em seus websites cumprem todas as exigências do Direito de Propriedade;</li>
	</ol></li><br/>
	<li><b>Cláusula Sexta – Cadastro</b><br/>
	<ol>
		<li>O usuário cadastrante, declara ser maior de 18 anos, menor emancipado, ou possuir o consentimento legal, expresso e por escrito, dos pais ou responsável legal e ser plenamente capaz para se vincular a este Termo, acatar e cumprir com suas disposições;</li>
		<li>O usuário cadastrante declara ter autorização legal da <b>DISTRIBUIDORA</b>, para efetuar o cadastro desta no <span class="destaque">QuemVende?</span>, informando para tal, dados sobre a mesma e incluindo material promocional necessário (logomarcas, fotos, ilustrações, catálogos, arquivos de som e imagem em geral), respeitando as mesmas disposições do item 5.1 acima;</li>
	</ol></li><br/>
	<li><b>Claúsula Sétima – Regras gerais, legislação aplicável e foro</b><br/>
	<ol>
		<li>Estes Termos de Uso e quaisquer outras políticas divulgadas pelo <span class="destaque">QuemVende?</span> no site estabelecem o pleno e completo acordo e entendimento entre o <b>VISITANTE</b> / <b>DISTRIBUIDORA</b> / <b>ESTABELECIMENTO</b> / <b>EMPRESAS PARCEIRAS</b> / <b>AFILIADO</b>s superando e revogando todos e quaisquer entendimentos, propostas, acordos, negociações e discussões havidos anteriormente entre as partes;</li>
		<li>O presente instrumento de Termos de Uso e a relação entre as partes são regidos pelas leis da República Federativa do Brasil;</li>
		<li>As partes elegem o Foro da Comarca da Capital do Estado de São Paulo (São Paulo) como sendo o único competente para dirimir quaisquer litígios e/ou demandas que venham a envolver as Partes em relação ao uso e acesso do Site, relegando outros, por mais privilegiados que sejam ou que venham a ser por quaisquer motivos;</li>
		<li>A incapacidade do <span class="destaque">QuemVende?</span> em exercer ou fazer cumprir qualquer direito ou cláusula do Termo não representa uma renúncia desse direito ou cláusula;</li>
		</li>Na hipótese de que qualquer item, termo ou disposição deste Termo vir a ser declarado nulo ou não aplicável, tal nulidade ou inexequibilidade não afetará quaisquer outros itens, termos ou disposições aqui contidos, os quais permanecerão em pleno vigor e efeito.</li>
	</ol></li><br/>
</ol>
</p>

		</div>
	</div>
</div>
    {include file="quemvende/inc/footer.html"}
</body>
{$View->JavaScripts()}
</html>