{* 
* === Alert styles ===
* success, info, warning, danger
*}

{if !$style}
	{assign var="style" value="info"}
{/if}

<div class="full-row">
<br/>
<div class="alert alert-{$style} alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {$message}
</div>
</div>