<div class="loginbox">
	<div class="row"><div class="col-md-12">
		<h3>Login</h3>
	</div></div>
	<div class="row"><div class="col-md-12">
		<input type="email" placeholder="e-mail" name="email" id="email" class="input large" />
	</div></div>
	<div class="row"><div class="col-md-12">
		<input type="password" placeholder="password" name="password" id="password" />
	</div></div>
	<div class="row"><div class="col-md-12">
		<button class="btn btn-quemvende" onClick="Login('/Estabelecimento/Login', '/Estabelecimento/Home');">
			<i class="fa fa-sign-in"></i> Entrar
		</button>
	</div></div>
	<div class="row" id="login_loading" style="display: none;"><div class="col-md-12">
		<i class="fa fa-circle-o-notch fa-spin"></i> Carregando
	</div></div>
	<div class="row"><div class="col-md-12" id="login_response"></div></div>
	<div class="row"><div class="col-md-12">
		<br/>
		<a href="/EsqueciASenha">Esqueci minha senha</a><br/>
		<a href="/Estabelecimento/Cadastro">Desejo me cadastrar</a>
	</div></div>
</div>