<div class="full-row pagination">
	<div class="col-md-5 find-results">
	{$total} resultados encontrados
	</div>
	<div class="col-md-7 right">
		{if $totalPages < 10}
		{for $i=1 to $totalPages}
			<a href="?page={$i}" class="page {if $i == $page}active-page{/if}">{$i}</a>
		{/for}
		{else}
			<a href="?page=1" class="page {if $page==1}active-page{/if}">1</a>
			{if $page > 4}
				...
			{/if}
			{for $i=$page-2 to $page+2}
				{if ($i < $totalPages) && ($i > 1)} 
				<a href="?page={$i}" class="page {if $i == $page}active-page{/if}">{$i}</a>
				{/if}
			{/for}
			{if $page < ($totalPages-3)}
				...
			{/if}
			<a href="?page={$totalPages}" class="page {if $page==$totalPages}active-page{/if}">{$totalPages}</a>
		{/if}
	</div>
</div>