.form-horizontal .row-fluid {
	margin-top: 10px;
}
.ibt { 
	cursor: pointer;
}

.mailtxt {
	width: 100%;
	height: 200px;
}
#preview-box {
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	margin-bottom: 20px;
	min-width: 400px;
}


